$color-white: #fff;
$color-light--200: #F5F7FA;
$color-light--250: #ECECED;
$color-light--260: #E2E5EC;
$color-light--280: #CFD2D9;
$color-light--300: #A8A8A8;
$color-light--400: #888991;
$color-light--500: #7D7D7D;
$color-dark--500: #1B1D29;
$color-dark--600: #262626;
$color-black: #000;

$color-blue--200: #CCE7FF;
$color-blue--500: #2F80ED;
$color-blue--700: #0085FF;



$color--focus: $color-blue--500;
$color--focus-blur: $color-blue--200;
$color--active: $color-blue--700;
$color--border: $color-light--280;
$color--label: $color-light--500;
$color--primary: $color-dark--600;

$color--sidebar-bg: $color-dark--500;
$color--sidebar-item: $color-light--400;
$color--footer-desc: $color-light--300;
$color--content-bg: $color-light--200;
$color--divider: $color-light--250;
$color--card-border: $color-light--260;
$color--button-hover: $color-light--200;
$color--button-active: $color-light--250;
$color--button-disabled: $color-light--300;



$font-primary: 'Roboto';

$width--sidebar: 80px;
$height--top-bar: 80px;
$height--footer: 50px;
