@import '../../styles';

.footer--wrapper {
  padding: 0 30px;
  height: $height--footer;
  background-color: $color--content-bg;

  .footer--content {
    @include flex-layout();
    @include flex-layout-align(flex-end, center);
    @include font-style($color--footer-desc, 'Roboto', 13px);
    box-sizing: border-box;
    border-top: 2px solid $color--divider;
    padding: 0 30px;
    height: 100%;
  }
}
